<div class="container">
  <div class="row w-100">
    <div class="col-3">
      <div class="col">
      ACCOUNT
      </div>
      <span *ngFor="let deal of deals$ | async">
        <div class="col">
          <a routerLink="/deals/{{deal.id}}">
            {{deal.company.name}}
          </a>
        </div>
      </span>
    </div>

    <div class="col-4">
      <div class="col">
      SALES PLAY
      </div>
      <span *ngFor="let deal of deals$ | async">
        <div class="col">
          <a routerLink="/deals/{{deal.id}}">
            {{deal.description}}
          </a>
          <button (click)="delete(deal)">foo</button>
        </div>
      </span>
    </div>

    <div class="col-1">
      <div class="col">
        STAGE
      </div>
      <span *ngFor="let deal of deals$ | async">
        <div class="col">
          {{deal.stage}}
        </div>
      </span>
    </div>

    <div class="col-2">
      <div class="col">
        SIZE
      </div>
      <span *ngFor="let deal of deals$ | async">
        <div class="col">
          {{deal.size | currency}}
        </div>
      </span>
    </div>

    <div class="col-2">
      <div class="col">
        FORECASTED CLOSE
      </div>
      <span *ngFor="let deal of deals$ | async">
        <div class="col">
          {{deal.close_date}}
        </div>
      </span>
    </div>
  </div>
</div>

<form [formGroup]="newDealForm">
  <label>
    First Name:
    <input type="text" formControlName="description">
  </label>

  <label>
    Company ID:
    <input type="text" formControlName="company_id">
  </label>
  <button (click)="add()">submit here</button>
</form>
